@page
@model TradeCompanyApp.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Создание";
}

<h1>Создать</h1>

<h4>Клиента</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Email" class="control-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Description" class="control-label"></label>
                <input asp-for="Client.Description" class="form-control" />
                <span asp-validation-for="Client.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.CreatedAt" class="control-label"></label>
                <input asp-for="Client.CreatedAt" class="form-control" />
                <span asp-validation-for="Client.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Список клиентов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
