@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Тут будет размещена политика конфиденциальности сайта. Продолжая работать на сайте вы соглашаетесь со всеми способами использования информации о вас и переданной вами информации</p>
